port: 7890
socks-port: 7891
redir-port: 7892
mixed-port: 7893
tproxy-port: 7895
ipv6: false
mode: rule
log-level: silent
allow-lan: true
external-controller: 0.0.0.0:9090
secret: ""
bind-address: "*"
unified-delay: true
profile:
  store-selected: true
dns:
  enable: true
  ipv6: false
  enhanced-mode: redir-host
  listen: 0.0.0.0:7874
  nameserver:
    - 8.8.8.8
    - 1.0.0.1
    - https://dns.google/dns-query
  fallback:
    - 1.1.1.1
    - 8.8.4.4
    - https://cloudflare-dns.com/dns-query
    - 112.215.203.254
  default-nameserver:
    - 8.8.8.8
    - 1.1.1.1
    - 112.215.203.254
proxies:
  - name: TROJAN
    server: idtj-herza.bonds.id
    port: 443
    type: trojan
    password: 71502cd0-5020-11ed-a074-1239d0255272
    skip-cert-verify: true
    sni: bug.com
    udp: true
  - name: VMESS
    server: v2ray2.udpgw.com
    port: 443
    type: vmess
    uuid: 70512e7c-aa62-443a-aed6-a83bc43f3ceb
    alterId: 0
    cipher: auto
    tls: true
    skip-cert-verify: true
    servername: bug.com
    network: ws
    ws-opts:
      path: /howdy
      headers:
        Host: bug.com
    udp: true
proxy-groups:
  - name: UNIVERSAL
    type: select
    proxies:
      - TROJAN
      - VMESS
      - DIRECT
  - name: GAME
    type: select
    proxies:
      - TROJAN
      - VMESS
      - DIRECT
  - name: SOSMED
    type: select
    proxies:
      - TROJAN
      - VMESS
      - DIRECT
  - name: STREAMING
    type: select
    proxies:
      - TROJAN
      - VMESS
      - DIRECT
rules:
  - MATCH,GLOBAL
